<%= form_for @user, url: {action: "create"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
      <%= f.label :name, t(".name_field"), class: "form-label" %>
      <%= f.text_field :name, class: "form-control"  %>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
      <%= f.label :email, t(".email_field"), class: "form-label" %>
      <%= f.email_field :email, class: "form-control"  %>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
        <%= f.label :password, t(".pass_field"), class: "form-label" %>
      <%= f.password_field :password, class: "form-control"  %>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
      <%= f.label :password_confirmation, t(".pass_confirm_field"), class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control"  %>
    </div>
  </div>

  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <%= f.submit @button_type, class: "btn btn-primary" %>
  </div>
<% end %>
