<div class="container-fluid text-align-center">
  <div class="d-flex justify-content-center p-5 pb-2">
    <h1 class="font-family-ubuntu"><%= @exam.lesson.name %></h1>
  </div>
  <p class="d-none"><%= score = total_correct_questions(@exam.exam_questions) %></p>
  <div class="d-flex justify-content-center align-items-center">
    <h4 class="font-family-ubuntu "><%= t ".score #{score}" %></h4>
    <h5 class="text-danger ms-2">
      <% if score/@exam.exam_questions.length >= Settings.exam.min_passed_percentage_80  %>
        <%= t ".passed" %>
      <% else %>
        <%= t ".not_pass" %>
      <% end %>
    </h5>
  </div>
  <%= form_with model: @exam do |f| %>
    <%= f.fields_for :exam_questions do |question_fields| %>
      <% question = question_fields.object %>
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <div class="card m-3 exam-question">
            <div class="card-header font-family-ubuntu">
              <%= question_fields.label :definition, question.true_answer.definition %>
            </div>
            <div class="card-body">
              <div class="exam-question-body">
                <% answers = [question.true_answer] + question.wrong_answers %>
                <% answers.shuffle().each do |answer| %>
                  <div class="d-flex justify-content-center align-items-center">
                    <%= question_fields.radio_button :user_answer_id, answer.id, class: "btn-check disabled"%>
                    <%=
                      question_fields.label(
                        :user_answer_id,
                        answer.translation,
                        value: answer.id,
                        class: "btn " + btn_color_base_on_answer(question, answer) + " w-75 h-75 p-4 " +
                          "d-flex align-items-center justify-content-center disabled btn-"
                      )
                    %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
