<template id="words-list-template">
  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card words-list">
        <div class="card-header">
          <span><i class="bi bi-table me-2"></i></span>
          <%= t ".words" %>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              id="words-list-table"
              class="table table-striped data-table w-100"
            >
              <thead>
                <tr>
                  <%= content_tag :th, t(".definition") %>
                  <%= content_tag :th, t(".translation") %>
                  <%= content_tag :th, t(".lesson") %>
                  <%= current_user.admin? ? content_tag(:th, t(".delete")) : "" %>
                </tr>
              </thead>
              <tbody>
                <% @words.each do |word| %>
                  <tr>
                    <td><%= word.definition %></td>
                    <td><%= word.translation %></td>
                    <td><%= word.lesson.name %></td>
                    <% if current_user.admin? %>
                      <td>
                        <%= link_to t(".delete"), '#', method: :delete, data: { confirm: t(".confirm") },
                        class: "btn btn-outline-secondary" %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <%= content_tag :th, t(".name") %>
                  <%= content_tag :th, t(".description") %>
                  <%= content_tag :th, t(".lesson") %>
                  <%= current_user.admin? ? content_tag(:th, t(".delete")) : "" %>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<words-list></words-list>
