<template id="words-list-template">
  <div class="card words-list">
    <div class="card-header">
      <slot name="card-header"></slot>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          id="words-list-table"
          class="table table-striped data-table w-100"
        >
        </table>
      </div>
    </div>
  </div>
</template>


<words-list
  headers="<%= table_headers %>"
  columns="<%= table_columns %>"
  data-url="<%= table_data_url %>"
  data-confirm-message = "<%= t ".confirm_delete" %>"
>
  <div slot="card-header">
    <span><i class="bi bi-table me-2"></i></span>
    <%= t ".words" %>
  </div>
</words-list>
