<div id="carouselExampleIndicators" class="carousel slide carousel-container" data-ride="carousel">
  <div class="carousel-inner rounded-4 active">
    <% @words.each_with_index do |word, index| %>
      <% if index == 0 %>
        <div class="carousel-item active">
          <div class="d-flex justify-content-center align-items-center">
            <%= render Admin::WordCardComponent.new(word: word) %>
          </div>
          <p class="current-word"><%= index + 1 %>/<%= @words.length %></p>
        </div>
      <% else %>
        <div class="carousel-item">
          <div class="d-flex justify-content-center align-items-center">
            <%= render Admin::WordCardComponent.new(word: word) %>
          </div>
          <p class="current-word"><%= index + 1 %>/<%= @words.length %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
