<div id="wordCarousel" class="carousel slide carousel-container word-carousel" data-ride="carousel">
  <div class="carousel-inner rounded-4 active">
    <% @words.each_with_index do |word, index| %>
      <div class="carousel-item <%= index == 0 ? "active" : "" %>">
        <div class="d-flex justify-content-center align-items-center h-100">
          <%= render Admin::WordCardComponent.new(word: word) %>
          <% unless current_user.admin? %>
            <input
              class="form-check-input"
              type="checkbox"
              data-word-id='<%= word.id %>'
              <% if word.user_learn_words_id.present? %>
                <%= "data-user-learn-word-id= #{word.user_learn_words_id}" %>
                <%= "checked" %>
              <% end %>
            >
          <% end %>
        </div>
        <div class="carousel-caption">
          <%= content_tag :p, "#{index + 1}/#{@words.length}" %>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#wordCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#wordCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
