<template id="lessons-list-template">
  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header">
          <span><i class="bi bi-table me-2"></i></span>
          <%= t ".lessons" %>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              id="lessons-list-table"
              class="table table-striped data-table"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <%= content_tag :th, t(".name") %>
                  <%= content_tag :th, t(".description") %>
                  <%= content_tag :th, t(".course") %>
                  <%= content_tag :th, t(".created_at") %>
                  <%= content_tag :th, t(".updated_at") %>
                  <%= content_tag :th, t(".delete") %>
                </tr>
              </thead>
              <tbody>
                <% @lessons.each do |lesson| %>
                  <tr>
                    <td><%= lesson.name %></td>
                    <td><%= lesson.description %></td>
                    <td><%= lesson.course.name %></td>
                    <%= content_tag :td, lesson.created_at %>
                    <%= content_tag :td, lesson.updated_at %>
                    <td><%= link_to "delete", '#', method: :delete, data: { confirm: t(".confirm") }, class: "btn btn-outline-secondary" %></td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <%= content_tag :th, t(".name") %>
                  <%= content_tag :th, t(".description") %>
                  <%= content_tag :th, t(".course") %>
                  <%= content_tag :th, t(".created_at") %>
                  <%= content_tag :th, t(".updated_at") %>
                  <%= content_tag :th, t(".delete") %>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<lessons-list></lessons-list>
