<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="body font-family-montserrat">
    <% if logged_in? %>
      <%= render(NavbarComponent.new(user: current_user)) %>
      <%= render "shared/toastr" %>
      <%= yield %>
      <%= render(FooterComponent.new()) %>
      <%= debug(params) if Rails.env.development? %>
    <% else %>
      <% controller.redirect_to signin_path %>
    <% end %>
  </body>
</html>
