<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="sidebar">
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">
            <%= t ".core" %>
          </div>
        </li>
        <li>
          <%= 
            link_to(
              content_tag(:span,
                content_tag(:i, "", class: "bi bi-speedometer2"),
                class: "me-2"
              ) +
              content_tag(:span, t(".dash_board")),
              admin_static_pages_path,
              class: "nav-link px-3 active")
          %>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
            <%= t ".interface" %>
          </div>
        </li>
        <li>
          <%=
            link_to(
              content_tag(:span,
                content_tag(:i, "", class: "bi bi-patch-check"),
                class: "me-2"
              ) +
              content_tag(:span, t(".courses")),
              admin_courses_path,
              class: "nav-link px-3")
          %>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-book-fill"></i></span>
            <%= content_tag :span, t(".lessons") %>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-spellcheck"></i></span>
            <%= content_tag :span, t(".words") %>
          </a>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
            <%= t ".users" %>
          </div>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-person-circle"></i></span>
            <%= content_tag :span, t(".users") %>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-person-workspace"></i></span>
            <%= content_tag :span, t(".admins") %>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
