<div class="offcanvas offcanvas-start bg-dark font-family-ubuntu" tabindex="-1" id="sidebar">
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">
            <%= t ".core" %>
          </div>
        </li>
        <li>
          <%= 
            link_to(
              content_tag(:span,
                content_tag(:i, "", class: "bi bi-speedometer2"),
                class: "me-2"
              ) +
              content_tag(:span, t(".dash_board")),
              admin_static_pages_path,
              class: "nav-link px-3 " + (current_page?(admin_static_pages_path) ? "active" : "")
            )
          %>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
            <%= t ".interface" %>
          </div>
        </li>
        <li>
          <%=
            link_to(
              content_tag(:span,
                content_tag(:i, "", class: "bi bi-patch-check"),
                class: "me-2"
              ) +
              content_tag(:span, t(".courses")),
              admin_courses_path,
              class: "nav-link px-3 " + (params[:controller] == 'admin/courses' ? "active" : "not-act")
            )
          %>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-book-fill"></i></span>
            <%= content_tag :span, t(".lessons") %>
          </a>
        </li>
        <li>
          <%= 
            link_to(
              content_tag(:span,
                content_tag(:i, "", class: "bi bi-spellcheck"),
                class: "me-2"
              ) +
              content_tag(:span, t(".words")),
              admin_words_path, class: "nav-link px-3")
          %>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
            <%= t ".users" %>
          </div>
        </li>
        <li>
          <%= 
            link_to(
              content_tag(:span,
                content_tag(:i, "", class: "bi bi-person-circle"),
                class: "me-2"
              ) +
              content_tag(:span, t(".users")),
              admin_users_path, class: "nav-link px-3")
          %>
        </li>
        <li>
          <%= 
            link_to(
              content_tag(:span,
                content_tag(:i, "", class: "bi bi-spellcheck"),
                class: "me-2"
              ) +
              content_tag(:span, t(".exam")),
              admin_exams_path, class: "nav-link px-3")
          %>
        </li>
      </ul>
    </nav>
  </div>
</div>
